//
//	Footer
//-------------------------------------------------------

.site-footer {
	border-top: 1px solid $border-color;

	p {
		margin: 0;
		font-size: .75em;
		line-height: 1.2;
	}
}

.primary-footer {
	@include clearfix;
	padding: 2em 0;
	padding-bottom: 1em;
	background: #fff;
}

.footer-col-1,
.footer-col-2 {
	@include breakpoint($bp-large) {
		float: left;
		width: 50%;
	}
}

.footer-col-2 {
	padding-top: 1em;

	@include breakpoint($bp-large) {
		padding-top: 0;
	}
}


.footer-address,
.footer-social {}

.footer-address {}
.footer-social {}


.site-info {
	@include clearfix;
	text-align: center;

	@include breakpoint($bp-large) {
		text-align: left;
	}
}

.site-info-name,
.site-info-desc {
	display: inline-block;
	vertical-align: top;
}

.site-info-name {
	color: $heading-color-2;
	text-transform: uppercase;

	+ .site-info-desc {
		position: relative;

		// @include breakpoint($bp-med) {
			margin-left: 1em;
			padding-left: 1em;
			border-left: 1px solid $heading-color-1;
		// }
	}
}


.site-footer {
	color: $heading-color-1;
}

.footer-address {
	text-align: center;
	text-transform: uppercase;

	@include breakpoint($bp-large) {
		text-align: right;
	}

	a[href^="tel:"],
	a[href^="mailto:"] {
		display: inline-block;
		vertical-align: top;
		color: inherit;
		text-decoration: none;
		cursor: default;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	a[href^="mailto:"] {
		position: relative;
		top: -.75em;
		margin-left: 1em;
		color: $link-color;
		cursor: pointer;

		&:hover,
		&:focus {
			color: $link-color--hover;
		}
	}
}

.footer-address-postal,
.footer-address-contact {

	@include breakpoint($bp-med) {
		display: inline-block;
		vertical-align: top;
	}
}

.footer-address-postal {

	+ .footer-address-contact {
		position: relative;
		padding-top: 1em;
		
		@include breakpoint($bp-med) {
			margin-left: 1em;
			padding-top: 0;
			padding-left: 1em;
		}

		&:before {
			@include breakpoint($bp-med) {
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: .875em;
				background: $heading-color-1;
				content: ' ';
			}
		}
	}
}


.footer-address-contact {

}
