//
//	Base layout
//-------------------------------------------------------

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

#page {
	.flexbox & {
	  display: flex;
	  flex-direction: column;
	  min-height: 100vh;
	}

  .admin-bar & {
  	.flexbox & {
		  min-height: calc( 100vh - 2.875em );

		  @include breakpoint(782px) {
			  min-height: calc( 100vh - 2em );
		  }
  	}
  }
}

.site-content {
	.flexbox & {
	  flex: 1 0 auto;
	}
}

.site {
	overflow: hidden;
	min-height: 100%;
	min-width: 100%;
}

.site-content {
	position: relative;
  margin-top: 4.125em;
	overflow: hidden;

	@include breakpoint($bp-med) {
		margin-top: 8.5em;
	}
}

.wrap {
	@include clearfix;
	margin: 0 auto;
	padding: $max-width-spacing;
	// Equal to - 1200px + 24px padding
	max-width: $max-width;

	@include breakpoint($bp-large) {
		padding: $max-width-spacing--large;
	}
}

.wrap--limited {
	// Equal to - 800px + 24px padding
	max-width: $max-width--small;
}

.wrap--full {
	max-width: none;
}

.no-mediaqueries .wrap {
	// Equal to - 956px + 24px padding
	max-width: $max-width--small;
}

.section {
	@include clearfix;
	padding: $vertical-padding;

	@include breakpoint($bp-med) {
		padding: $vertical-padding-medium;
	}

	@include breakpoint($bp-large) {
		padding: $vertical-padding-large;
	}

	&.three-col-full {
		padding: 0;
	}
}

