//
//	Header
//-------------------------------------------------------

.site-header {
	text-align: center;
	background: #fff;
	transition: all 250ms;
	z-index: 50;

	@include breakpoint($bp-med) {
		position: fixed;
		padding: 2.2em 0;
		width: 100%;
		height: auto;
		text-align: left;
		z-index: 100;
	}
	
	.site-header-inner {
		.flexbox & {
			@include breakpoint($bp-med) {
				display: flex;
				align-items: center;
			}
		}
	}
	
	.header-col-1 {
		@include breakpoint($bp-med) {
			@include grid(200, 1200);
			float: left;
		}

		@include breakpoint($bp-large) {
			@include grid(264, 1200);
		}
	}

	.header-col-2 {
		@include breakpoint($bp-med) {
			@include grid(866, 1200);
			@include clearfix;
			float: right;
		}

		@include breakpoint($bp-large) {
			@include grid(866, 1200);
		}

		.flexbox & {
			flex: 1 0 auto;
		}
	}

	.site-branding {
		a {
			display: inline-block;
			vertical-align: top;
			transition: opacity 500ms, transform 500ms;

			&:hover,
			&:focus {
				opacity: .75;
			}
		}
	}

	.button-nav {
		@include breakpoint($bp-large) {
			float: right;
			margin-left: 1.5em;
		}
	}

	.utility-nav {

	}

	&.minify-header {

		@include breakpoint($bp-med) {
			padding: 1em 0;
			background-color: $primary-color-opaque;
			box-shadow: 0 0.15em 0.15em rgba(0, 0, 0, .12);
		}

		.site-branding a {
			@include breakpoint($bp-med) {
				transform: scale(.75);
			}
		}

		.utility-nav {
			@include breakpoint($bp-med) {
				// padding: 3em 0;
			}
		}
	}
}