
//
//	Sidebar
//-------------------------------------------------------

.widget-group {
	border-bottom: 1px solid $border-color;
}

.sidebar-widget {
	+ .sidebar-widget {
		margin: 1.5em 0;
		padding-top: 1.5em;
		border-top: 1px solid $border-color;
	}
}

.widget-title {
	margin-bottom: .5em;
	color: $base-font-color;
}

.tax-list {
	@include list-reset();

	li {
		// margin: 0;
	}
}
