
.blog-page {

  article {
    + article {
      margin-top: 2em;
      padding-top: 2em;
      border-top: 2px solid $border-color;
    }
  }
}

.entry-header {
  .entry-meta {
    margin: 1em 0 2em;
  }
}

.entry-title {
  margin-bottom: .5em;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.entry-meta {
  margin: 1em 0 1em;

  p {
    margin: 0;
    font-size: .8125em;
    font-weight: 700;
    color: $heading-color-1;
    text-transform: uppercase;

    a {
      text-decoration: underline;
      color: $heading-color-1;

      &:hover,
      &:focus {
        color: darken($heading-color-1, 15%);
      }
    }
  }
}
