

.callout-block {
	padding: 2em 0;

	h1 {
		color: $heading-color-3;
		font-weight: 200;
	}
}


.card-grid {

	@include breakpoint($bp-large) {
		@include clearfix;
	}

	.flexbox & {
		@include breakpoint($bp-large) {
			display: flex;
			align-items: flex-end;
		}
	}
}

.card-grid-item {

	@include breakpoint($bp-large) {
		float: left;
	}

	.flexbox & {
		@include breakpoint($bp-large) {
			flex: 1 0 0;
		}
	}
}

.callout-card {

	@include breakpoint($bp-large) {
		position: relative;
		height: 34em;
	}

	a {
		position: relative;
		display: block;
		padding: 8em 1em;
		width: 100%;
		height: 100%;
		color: #fff;
		text-decoration: none;
		background-color: $bkg-blue;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		transition: height 500ms;

		@include breakpoint($bp-large) {
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 4em 1em;
	    padding-bottom: 21em;
		}

		&:hover,
		&:focus {
			text-decoration: none;

			@include breakpoint($bp-large) {
				height: 105%;
			}

			&:before,
			&:after {
				opacity: 1;
			}

			&:after {
				animation: pulse 2s linear infinite;
			}

			.callout-card-body {
				opacity: 1;
			}
		}

		.flexbox & {
			@include breakpoint($bp-large) {
		    display: flex;
		    align-items: center;
			}
		}

		&:before {
			position: absolute;
			top: -.5em;
			left: 50%;
			margin-left: -.5em;
			width: 1em;
			height: 1em;
			background: $bkg-blue;
			border-radius: 50%;
			opacity: 0;
			content: ' ';
			z-index: 15;
			box-shadow: 0 2px 4px 0 rgba(0,0,0, .15);
			transition: opacity 500ms;
		}

		&:after {
			position: absolute;
			top: -1em;
			left: 50%;
			margin-left: -1em;
	    border: 2px solid $bkg-blue;
	    border: 2px solid rgba(39, 167, 223, .55);
	    border-radius: 50%;
			width: 2em;
			height: 2em;
			content: ' ';
			z-index: 16;
			opacity: 0;
		}
	}
}

.callout-card-header {
	position: relative;
  margin: 0 auto;
  max-width: 12em;
	text-align: center;
	z-index: 10;

	h2 {
		margin: 0;
		font-weight: 300;

		@include breakpoint($bp-xl) {
			font-size: 1.625em;
		}

		@include breakpoint($bp-mega) {
			font-size: 1.875em;
		}
	}
}

.callout-card-body {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 2em 1em;
	padding-top: 6em;
	height: 100%;
	width: 100%;
	text-align: center;
	background: $bkg-blue;
	background: rgba(39, 167, 223, .88);
	opacity: 0;
	transition: opacity 500ms;
	z-index: 15;

	@include breakpoint($bp-large) {
		padding-top: 2em;
		height: auto;
	}
}
