
.l-sidebar {
  @include clearfix;
  margin-top: -2.5em;
  margin-left: -2.5em;

  @include breakpoint($bp-xl) {
    margin-left: -5em;
  }

  > .entry-content,
  > .sidebar {
    padding-top: 2.5em;
    padding-left: 2.5em;

    @include breakpoint($bp-xl) {
      padding-left: 5em;
    }
  }

  > .entry-content {
    @include breakpoint($bp-med) {
      width: 68%;
      float: right;
    }
  }

  > .sidebar {
    @include breakpoint($bp-med) {
      width: 32%;
      float: left;
    }
  }

  .l-main-col,
  .l-aside-col {
    padding-top: 2.5em;
    padding-left: 2.5em;

    @include breakpoint($bp-med) {
      float: left;
    }

    @include breakpoint($bp-xl) {
      padding-left: 5em;
    }
  }

  .l-main-col {
    @include breakpoint($bp-med) {
      width: 65%;
      float: right;
    }

    @include breakpoint($bp-large) {
      width: 70%;
    }
  }

  .l-aside-col {
    @include breakpoint($bp-med) {
      width: 35%;
    }

    @include breakpoint($bp-large) {
      width: 30%;
    }
  }
}

.archive-header {
  padding-bottom: $padding;

  @include breakpoint($bp-large) {
    padding-bottom: $padding-large;
  }

  h2 {
    margin: 0;
    text-align: center;
  }
}

.taxonomy-description {
  margin-top: 1em;
  text-align: center;
}

.section--project-design-cat {
  background: $bkg-off-white;
}


.categories-widget {
  
  ul {
    @include list-reset;
  }

  li {
    margin: 0;

    + li {
      border-top: 1px solid $border-color;
    }
  }

  a {
    display: block;
    padding: 0.5em 0;
    color: $base-font-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $link-color;
    }
  }

  .current-cat {
    a {
      color: $link-color;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }
}


/**
 * Project Slideshow
 */

.image-slide {
  position: relative;
  padding-top: 60.43%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
