.site-main.simple {
	@include clearfix;
	@extend .section;

	.entry-content {
		@include breakpoint($bp-med) {
			@include grid(860,1200);
			float: right;
		}
	}//.entry-content

	.sidebar {
		@include breakpoint($bp-med) {
			@include grid(260,1200);
			float: left;
		}
	}
	

}//.simple