
/*--------------------------------------------------------------------------
	REM to PX for Fonts
	http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
	Usage: @include font-size(13);	
--------------------------------------------------------------------------*/

// @mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.5){
// 	font-size: ($sizeValue * 1) + px;
// 	//line-height: ($line * 1) + px;
// 	font-size: ($sizeValue / 10) + rem;
// 	//line-height: ($line / 10) + rem;
// }

@mixin font-size( $sizeValue: 1.6, $line: $sizeValue * 1.5 ) {
	font-size: ( $sizeValue / 16 ) + em;
}


/*--------------------------------------------------------------------------
  Width, Margin and Padding Mixins
  - These calculate % using the famous RWD formula, target/context*100 
--------------------------------------------------------------------------*/

// column widths
@mixin grid($target, $context)    { width: (($target/$context)*100%); }

// margin widths
@mixin mleft($target, $context)   { margin-left: (($target/$context)*100%); }
@mixin mright($target, $context)  { margin-right: (($target/$context)*100%); }

// padding widths
@mixin pleft($target, $context)   { padding-left: (($target/$context)*100%); }
@mixin pright($target, $context)  { padding-right: (($target/$context)*100%); }



/**
 * Utils
 * ---
 */

// Clearfix (no old IE support cause why)
@mixin clearfix {
	&:after {
    display: block;
    clear: both;
    content: ' ';
	}
}


// Image Replacement
@mixin image-replace($width, $height) {
	width: $width;
	height: $height;
	display: block; 
	text-indent: -999em; 
	overflow: hidden; 
	background-repeat: no-repeat; 
	text-align: left; 
	direction: ltr;
}


// Image Replacement (modern)
@mixin ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


// Vis Hidden
@mixin visuallyhidden {
	position: absolute;
	border: 0 none;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect( 0 0 0 0 );

	// Allow focus
	&.focusable:active,
	&.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto;
	}
}



/**
 * Resets and Typography Utils
 * ---
 */

@mixin list-reset() {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin nav-item-reset() {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

@mixin button-reset() {
	display: inline-block;
	vertical-align: baseline;
	border: 0 none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: background 500ms;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

@mixin button( $color ) {
	@include button-reset;
	padding: .65em 1.25em;
	color: #fff;
	font-size: .9375em;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	background: $color;

	&:hover,
	&:focus {
		color: #fff;
		background: darken($color, 15%);
	}
}
