
.banner {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-end;
	position: relative;
	background: $bkg-blue;
	overflow: hidden;
	height: 12.75em;

  @include breakpoint($bp-med) {
		height: 16em;
  }

  @include breakpoint($bp-med) {
  	height: 26.75em;
	}

	> * {
		width: 100%;
	}
}

// .banner--project {
//   height: 10em;

//   @include breakpoint($bp-med) {
// 		height: 16em;
//   }

//   @include breakpoint($bp-large) {
// 		height: 26.75em;
//   }
// }

.banner-bkg,
.banner > img {
	display: block;
	position: absolute;

	@include breakpoint($bp-med) {
	  display: block;
	  position: absolute;
	  left: -9999px;
	  top: -9999px;
	  right: -9999px;
	  bottom: -9999px;
	  margin: auto;
	  width: 100%;
	  min-width: 100em;
	  user-drag: none;
	  user-select: none;
	  z-index: 1;

	  @supports ( object-fit: cover ) {
	    object-fit: cover;
	    left: 0;
	    top: 0;
	    right: auto;
	    bottom: auto;
	    width: 100%;
	    height: 100%;
	    min-width: 0;
	  }
	}
}


.banner-body {
	position: relative;
	width: 100%;
	z-index: 10;
}


.banner-title {
	@include font-size(22);
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	padding: 0.5em 1em;
	padding-left: 0;
	color: #fff;
	line-height: 1;
	font-weight: 300;
	text-align: left;

	@include breakpoint($bp-med) {
		@include font-size(28);
	}

	@include breakpoint($bp-xl) {
		@include font-size(36);
	}

	&::before {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		width: 100vw;
		height: 100%;
		background-color: rgba( #27a7df, 0.9 );
		z-index: -1;
		content: ' ';
	}
}
