//
// Global
//___________________________________________________

.button,
input[type="submit"],
.gform_wrapper.gform_wrapper .gform_footer input.button, 
.gform_wrapper.gform_wrapper .gform_footer input[type=submit] {
	@include button( $button-color );
}

.button-group {
	margin-top: -8px;
	margin-left: -8px;

	.button {
		margin: 8px;
	}
}

.text-button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: .5em 0;
  padding-right: 2em;
  font-size: .8125em;
  line-height: 1;
  text-transform: uppercase;

  svg {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9.5px;
  }
}
