
/**
 * Team Member Card
 */

.card-team-member {
  display: block;
  margin: 0;
  padding: 0;
  border: 0 none;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  outline: 0 none;

  &:hover,
  &:focus {
    background-color: transparent;

    .card-team-member-body {
      background-color: $bkg-blue;
      border-color: $bkg-blue;
    }

    .card-team-title,
    .card-team-job-title {
      color: #fff;
    }
  }
}

.card-team-member-featured-image {
  display: block;
  margin: 0;
  width: 100%;
}

.card-team-member-body {
  padding: 1em;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  transition: background-color 500ms, border-color 500ms;
}

.card-team-title {
  margin: 0;
  color: #27a7df;
  font-size: 1.3125em;
  text-transform: none;
  transition: color 500ms;
}

.card-team-job-title {
  margin: 0;
  margin-top: 0.25em;
  color: #585858;
  font-family: $heading-font-family;
  font-size: 0.9375em;
  transition: color 500ms;
}

.l-team-pop {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3.125em;
  margin-top: -3.125em;
}

.l-team-pop-sidebar,
.l-team-pop-main {
  padding-left: 3.125em;
  padding-top: 3.125em;
  width: 100%;
}
.l-team-pop-sidebar {
  @include breakpoint($bp-med) {
    width: 37.84%;
  }
}
.l-team-pop-main {
  @include breakpoint($bp-med) {
    width: 62.16%;
  }
}

.team-sidebar-block {
  margin-top: 1em;

  + .team-sidebar-block {
    margin-top: 2em;
  }
}

.team-sidebar-list {
  @include list-reset;
}

.team-social-list {
  @include list-reset;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;

    + li {
      margin-left: 0.15em;
    }
  }

  svg {
    display: block;
  }
}

.team-sidebar-headshot {
  display: block;
}

.team-sidebar-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.0625em;
  text-transform: uppercase;
  letter-spacing: 0.055294118em;
}

.team-content-title {
  margin: 0;
}

.team-popup-job-title {
  margin: 0;
  margin-bottom: 2em;
  font-size: 1.125em;
  color: $heading-color-2;
}
