
.card {
  position: relative;
  margin: 0 auto;
  max-width: 24.1875em;

  > a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: $bkg-blue;

    &:hover,
    &:focus {
      text-decoration: none;

      img {
        opacity: .23;
      }

      .card-body {
        background-color: transparent;
        transform: translateY(-3.5em);
        transform: translate3d(0, -3.5em, 0);
      }

      .card-body-button {
        opacity: 1;
      }
    }

    .card-body-button {
      position: absolute;
      left: 1em;
      bottom: 1.5em;
      opacity: 0;
      transition: opacity 500ms;
    }
  }
}

.card-figure {
  img {
    display: block;
    margin: 0;
    transition: opacity 500ms;
  }
}

.card-body {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.5em 1em;
  width: 100%;
  background-color: #000000;
  background-color: rgba(0,0,0, .45);
  z-index: 10;
  transition: background-color 500ms, transform 500ms;

  h3,
  p {
    margin: 0;
    color: #fff;
  }

  h3 + p {
    margin-top: .15em;
  }
}
