//
//	Carousels are handled w/ Cycle2
//	http://jquery.malsup.com/cycle2/
//-------------------------------------------------------

.cycle-outer {
	@include clearfix;
	width: 100%;
}

.cycle-wrap {
	position: relative;

	&:hover {
		.cycle-controls a {
			opacity: 0.6;
		}
	}

	&.fixed-width {
		margin: 0 auto;
		width: 85%;

		@include breakpoint($bp-med) {
			width: auto;
			max-width: 760px;
		}

		@include breakpoint($bp-large) {
			max-width: 940px;
		}

		@include breakpoint($bp-xl) {
			max-width: 1200px;
		}
	}
}

.lte-ie9 .cycle-wrap.fixed-width {
	max-width: 940px;
}

.cycle-controls {
	@include font-size(40);
	z-index: 10;
	a {
		opacity: 0.6;
		@include breakpoint($bp-med) {
			opacity: 0;
		}
		transition: 1s all;
		color: white;
	}
	.prev,
	.next {
		position: absolute;
		top: 45%;
	}
	.prev {
		left: 1%;
	}
	.next {
		right: 1%;
	}
}

.cycle-slideshow.cycle-slideshow {
	z-index: 0;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		margin: 0;
		padding: 0;
	}
	img {
		width: 100%;
		margin: 0;
		@include breakpoint($bp-med) {
			margin: 0;
		}
	}
	.cycle-slide {
		width: 100%;
	}
}

.slide-content {
	padding: 2em;
	@include breakpoint($bp-med) {
		position: absolute;
		max-width: 300px;
	}
	@include breakpoint($bp-large) {
		max-width: 400px;
	}
	@include breakpoint($bp-xl) {
		max-width: 500px;
	}
	&.top-left {
		@include breakpoint($bp-med) {
			top: 10%;
			left: 5%;	
		}	
	}
	&.top-right {
		@include breakpoint($bp-med) {
			top: 10%;
			right: 5%;	
		}	
	}
	&.bottom-left {
		@include breakpoint($bp-med) {
			bottom: 10%;
			left: 5%;	
		}	
	}
	&.bottom-right {
		@include breakpoint($bp-med) {
			bottom: 10%;
			right: 5%;	
		}	
	}
}


//
// Owl Carousel
//___________________________________________________


.owl-carousel {

	@include breakpoint($bp-med) {
		padding: 0 4.125em;
	}

	.owl-stage-outer {
		z-index: 1;
	}
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 20;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}


// .carousel-wrapper {
// 	@include clearfix;
// 	float: left;
// 	padding: 3.5em 0;
// 	width: 100%;

// 	.wrap{
// 		width:90%;
// 	}
// }

// .owl-carousel {
// 	@include clearfix;
// 	position: relative;
// 	padding: 0 4.6875em;
// }

// .owl-stage {
// 	width: 100%;
// }

// .owl-nav {
// 	.owl-next,
// 	.owl-prev {
// 		@include font-size(35);
// 		position: absolute;
// 		top: 20%;
// 		transition: all 0.5s;

// 		&:hover,
// 		&:focus {
// 			opacity: 0.6;
// 		}
// 	}
// 	.owl-next {
// 		right: 0;
// 	}
// 	.owl-prev {
// 		left: 0;
// 	}
// }

// .owl-carousel .item {
// 	height: 70px;
// }

// .owl-carousel .item img {
// 	width: auto;
// 	display: block;
// 	margin: 0 auto;
// }

// .owl-carousel .item.no-link img,
// .owl-carousel .item.link a {
// 	display: block;
// }
