


.section-header {
	text-align: center;
	margin-bottom: 2em;

	@include breakpoint($bp-large) {
		margin-bottom: 3em;
	}

	h2 {
		margin-bottom: 0;
	}
}



.columns {
	@include clearfix;
	margin-top: -2em;
	margin-left: -2em;

	@include breakpoint($bp-large) {
		margin-left: -2.5em;
	}

	+ .columns {
		margin-top: $padding-medium;
		padding-top: $padding-medium;
		border-top: 1px solid #eee;
	}

	&.one {
		width: 100%;
	}

	.column {
		width: 100%;
		padding-top: 2em;
		padding-left: 2em;

		@include breakpoint($bp-large) {
			padding-left: 2.5em;
		}
	}

	&.two,
	&.three,
	&.four,
	&.thirds {
		.column {
			@include breakpoint($bp-med) {
				float: left;
			}
		}
	}

	&.two {
		.column-one,
		.column-two {
			@include breakpoint($bp-med) {
				width: 50%;
			}
		}
	}

	&.three {
		.column-one,
		.column-two,
		.column-three {
			@include breakpoint($bp-med) {
				width: 33.33%;
			}
		}
	}

	&.four {
		.column-one,
		.column-two,
		.column-three,
		.column-four {
			@include breakpoint($bp-med) {
				width: 25%;
			}
		}
	}

	&.thirds {
		.column-one-third {
			@include breakpoint($bp-med) {
				width: 33.33%;
			}
		}

		.column-two-thirds {
			@include breakpoint($bp-med) {
				width: 66.66%;
			}
		}
	}
}
