#reply-title {
	margin-top: 1em;
}

#respond { 
	margin-top: 4em;
	border-radius: 7px;
	padding: 2em 3.5em;
}



#respond input[type=text], 
#respond input[type=email], 
#respond input[type=url], 
#respond textarea {
	width: 100%;
	outline: none;
	padding: 0.5em;
	margin: 5px 1px 3px 0px;
	transition: $transition-faster ease-in-out;
	border: 1px solid lighten($secondary-color, 62%);
}
 
#respond input[type=text]:focus, 
#respond input[type=email]:focus, 
#respond input[type=url]:focus, 
#respond textarea:focus {
	margin: 5px 1px 3px 0px;
	box-shadow: 0 0 5px darken($primary-color, 50%);
	border: 1px solid darken($primary-color, 5%);
}



ol.comment-list { 
	list-style: none; 
	margin: 0 0 1em; 
	padding: 0; 
	text-indent: 0; 
}

ol.comment-list li.even { 
	background: $primary-color; 
}

ol.comment-list li.odd { 
	background: darken($primary-color, 5%); 
}

ol.comment-list li.comment { 
	padding:1em; 
}

ol.comment-list li.comment div.vcard img.avatar { 
	float: right; 
	margin: 0 0 1em 1em; 
}

ol.comment-list li.comment p { 
	margin: 0 0 1em; 
}

ol.comment-list li.comment ul { 
	list-style:square; 
	margin: 0 0 1em 2em; 
}

ol.comment-list li.comment ol.children { 
	list-style: none; 
	margin: 1em 0 0 3em; 
	text-indent: 0; 
}



#respond { 
	background: darken($primary-color, 5%);

	a {
		color: $link-color;
	}
}

#respond .required {
	color: $red-dark;
}

ol.comment-list li.comment div.comment-meta a { 
	color: $link-color; 
}



