.sharing {
  margin: 2em 0;

  ul {
    @include list-reset;
  }

  li {
    display: inline-block;
    vertical-align: top;

    + li {
      margin: 0;
      margin-left: .5em;
    }
  }

  a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
  }
}


.entry-footer {
	@include clearfix;
	.cat-links,
	.tags-links {
		width: 100%;
		display: inline-block;
	}
	.comments-link,
	.edit-link {
		display: inline-block;
		width: 50%;
		float: left;
		a {
			display: block;
			padding: 1.5em 1.25em;
		}
	}


}//.entry-footer

// .nav-links {
// 	@include clearfix;
// 	div {
// 		width: 50%;
// 		display: block;
// 		float: left;
// 		&.nav-previous {
// 			text-align: left;
// 		}
// 		&.nav-next {
// 			text-align: right;
// 		}
// 		a {
// 			display: block;
// 			padding: 2em;
// 		}
// 	}
// }
