
/**
 * Filter Bar
 */

.filter-bar {
  padding: 1.5em 0;
  border-bottom: 1px solid $border-color;
}

.filter-bar-inner {
  @include breakpoint( $bp-med ) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.filter-design-cats {
  @include list-reset;

  @include breakpoint( $bp-med ) {
    display: flex;
  }

  li {
    + li {
      margin: 0;
      margin-top: 0.5em;

      @include breakpoint( $bp-med ) {
        margin-top: 0;
        margin-left: 1em;
      }
    }
  }

  a {
    color: $base-font-color;
    font-weight: 400;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $link-color;
      text-decoration: none;
    }

    &.is-active {
      color: $link-color;
    }
  }
}

.filter-item-right {
  margin-top: 1.5em;

  @include breakpoint( $bp-med ) {
    margin-top: 0;
  }
}

.filter-item-left {
  @include breakpoint( $bp-med ) {
    display: flex;
    align-items: center;
  }

  .h4 {
    color: $base-font-color;
    font-size: 0.9375em;
    font-weight: 400;

    @include breakpoint( $bp-med ) {
      margin: 0;
    }
  }
}

.filter-select {
  display: block;
  padding: 0.5em;
  width: 100%;
  color: $link-color;
  font-size: 0.9375em;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;

  @include breakpoint( $bp-med ) {
    margin-left: 1em;
    min-width: 12em;
    width: auto;
  }
}
