.fullwidth-column {
	@include clearfix;
	padding: 2em 0;

	@include breakpoint($bp-med) {
		padding: 4em 0;
	}

	@include breakpoint($bp-large) {
		padding: 6em 0;
	}

	// .wrap {
	// 	margin: 0 auto;
	// 	width: 90%;
		
	// 	@include breakpoint($bp-large) {
	// 		max-width: 900px;
	// 	}
	// }

	&.has-sidebar {

		.sidebar {
			@include breakpoint($bp-med) {
				@include grid(200, 760);
				float: left;
			}

			@include breakpoint($bp-xl) {
				@include grid(260, 1200);
			}
		}

		.column-content {
			@include breakpoint($bp-med) {
				@include grid(530, 760);
				float: right;
			}

			@include breakpoint($bp-xl) {
				@include grid(897, 1200);
			}
		}
	}
}

// // Image and Blockquote Alignments
// .entry-content {
// 	.fullwidth-column .alignright {
// 		@include breakpoint($bp-large) {
// 			margin-right: -3em;	
// 		}
// 		@include breakpoint($bp-xl) {
// 			margin-right: -10em;
// 		}
// 	}
// 	.fullwidth-column .alignleft {
// 		@include breakpoint($bp-large) {
// 			margin-left: -3em;	
// 		}
// 		@include breakpoint($bp-xl) {
// 			margin-left: -10em;
// 		}
// 	}
// 	.fullwidth-column blockquote {
// 		&.left {
// 			@include breakpoint($bp-med) {
// 				float: left;
// 				max-width: 300px;
// 				padding: 2em 0 0 3em;
// 				margin: 1em 2em 2em 0;
// 			}
// 			@include breakpoint($bp-large) {
// 				margin: 1em 3em 3em -3em;
// 			}
// 			@include breakpoint($bp-xl) {
// 				margin-left: -10em;
// 			}		
// 		}
// 		&.right {
// 			@include breakpoint($bp-med) {
// 				float: right;
// 				max-width: 300px;
// 				padding: 2em 3em 0 0;
// 				margin: 1em 0 2em 2em;
// 			}
// 			@include breakpoint($bp-large) {
// 				margin: 1em -3em 3em 3em;
// 			}
// 			@include breakpoint($bp-xl) {
// 				margin-right: -10em;
// 			}		
// 		}
// 	}
// }