/*--------------------------------------------------------------
## Galleries
## Default styles for WP built in galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
	//display: table;
	.gallery-item {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		width: 100%;
		height: 100%;
		padding: 0.5em;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			
		}
	}
		
	.gallery-caption {
		@extend .vh;
	}
	&.gallery-columns-2 .gallery-item {
		@include breakpoint($bp-med) {
			max-width: 50%;
		}
	}

	&.gallery-columns-3 .gallery-item {
		@include breakpoint($bp-med) {
			max-width: 33.33%;
		}
	}

	&.gallery-columns-4 .gallery-item {
		@include breakpoint($bp-med) {
			max-width: 25%;
		}
	}

	&.gallery-columns-5 .gallery-item {
		@include breakpoint($bp-med) {
			max-width: 20%;
		}
	}

	&.gallery-columns-6 .gallery-item {
		@include breakpoint($bp-med) {
			max-width: 16.66%;
		}
	}

	&.gallery-columns-7 .gallery-item {
		@include breakpoint($bp-med) {
			max-width: 14.28%;
		}
	}

	&.gallery-columns-8 .gallery-item {
		@include breakpoint($bp-med) {
			max-width: 12.5%;
		}
	}

	&.gallery-columns-9 .gallery-item {
		@include breakpoint($bp-med) {
			max-width: 11.11%;
		}
	}

}//.gallery

