
.l-grid {
  @include clearfix;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.3125em;
  margin-top: -1.3125em;
}

.l-grid-item {
  padding-left: 1.3125em;
  padding-top: 1.3125em;
  width: 100%;

  .l-grid--3-col & {
    @include breakpoint($bp-med) {
      float: left;
      width: 33.33%;
    }
  }
}
