
.grid {
	@include clearfix;
	overflow: hidden;
	margin-top: 3em;

	@include breakpoint($bp-large) {
		margin-top: 5em;
	}

	.logo {
		float: left;
		vertical-align: middle;
		padding: 1em;
		width: 50%;
		height: 120px;
		
		@include breakpoint($bp-med) {
			width: 33.33333333333%;
		}

		@include breakpoint($bp-large) {
			width: 25%;
		}

		img {
			// @include vertical-align;
			width: auto;
			margin: 0 auto;
		}

		&:nth-child(2n+1) {
			clear: left;

			@include breakpoint($bp-med) {
				clear: none;
			}
		}

		&:nth-child(3n+1) {
			@include breakpoint($bp-med) {
				clear: left;
			}

			@include breakpoint($bp-large) {
				clear: none;
			}
		}

		&:nth-child(4n+1) {
			@include breakpoint($bp-large) {
				clear: left;
			}
		}
	}
}
