
.main-nav {
	width: 100%;

	ul {
		@include list-reset();
		text-align: right;
	}

	li {
		@include nav-item-reset();
		position: relative;
	}

	a {
		display: block;
		font-size: 14px;
		color: $base-font-color;
		font-weight: 400;
		text-transform: uppercase;
		transition: color 500ms;

		&:hover,
		&:focus {
			color: $link-color;
			text-decoration: none;
		}

		&[href='#'] {
			cursor: default;
		}
	}

	> ul {
		> li {

			&.menu-item-has-children {
				> a {
					position: relative;

					&:hover,
					&:focus {
						&:after {
							opacity: 1;
						}
					}

					&:after {
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 2px;
						background: $link-color;
						opacity: 0;
						transition: opacity 500ms;
						content: ' ';
					}
				}
			}

			> a {
				padding: 1em 0;
			}

			+ li {
				margin-left: 1.5em;
			}

			> .sub-menu {
				display: none;
				position: absolute;
				left: 50%;
				top: 100%;
				margin-left: -17.9375em;
				padding: 1.5em 0;
				border: 1px solid $border-color-alt;
				width: 35.875em;
				background: #ffffff;
				background: rgba(255, 255, 255, .97);
				
				> li {
					padding: 0 1.5em;

					+ li {
						border-left: 1px solid $border-color-alt;
					}

					> a {
						color: $brand-blue;
					}
					
					li {
						a {
							text-transform: none;
						}
					}
				}
			}

			&.menu-item-664 > .sub-menu {
				> li {
			    width: 100%;
				}
			}
		}
	}

	.sub-menu {
		text-align: left;

		li {
			display: inline-block;
			vertical-align: top;
			margin-right: -5px;
			width: 50%;
		}

		> li {}

		a {
			display: block;
		}

		.sub-menu {
			li {
				position: relative;
				margin-top: .75em;
				padding-left: 1em;
				line-height: 1.2;

				&:before {
					position: absolute;
					left: 0;
					top: 7px;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background: $base-font-color;
					content: ' ';
				}
			}
		}
	}

	ul li:hover > .sub-menu {
		display: block;
	}
}
