//
//	Base/global media styles 
//-------------------------------------------------------

// Fluid images and html5 video
img,
video {
  max-width: 100%;
  height: auto;
}

// Image Alignment
.entry-content {

	img {
		display: block;
		margin: 2em auto;
	}

	figure {
		margin: 1.5em auto;
		max-width: 100%;

		@include breakpoint($bp-med) {
			max-width: 50%;
		}
		
		img {
			margin: 0;
		}

		figcaption {
			padding: 1em;
			font-size: .8125em;
		}
	}

	// .aligncenter {
	// 	margin: 2em auto;
	// }

	
	// .alignright {

	// 	@include breakpoint($bp-med) {
	// 		float: right;
	// 		margin: 0 0 1em 1em;
	// 		max-width: 50%;
	// 	}

	// 	@include breakpoint($bp-xl) {
	// 		margin: 0 0 2em 2em;
	// 	}
	// }

	// .alignleft {

	// 	@include breakpoint($bp-med) {
	// 		float: left;
	// 		margin: 0 1em 1em 0;
	// 		max-width: 50%;
	// 	}

	// 	@include breakpoint($bp-xl) {
	// 		margin: 0 2em 2em 0;
	// 	}
	// }

	.hero {
		position: relative;
		width: 100%;
		height: auto;
		margin: 0;
		background-repeat: no-repeat;
  	background-size: cover;

		@include breakpoint($bp-med) {
			background-attachment: fixed;
			background-position: center center;
		}

		.hero-speaks {
			text-align: center;
			padding: 5em 0;

			h1 {
				&:after {
					width: 0;
				}
			}

			.inner {
				margin: 0 auto;
				max-width: 800px;
				padding: 5em 0em 9em 0em;
			}
		}
	}
}

// Flexible iFrame
.flexible-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


.alignnone {
  display: block;
  margin: 1em 0;
}

.aligncenter,
.alignright,
.alignleft {
  display: block;
  margin: 1em auto;
}

.alignright {
  @include breakpoint($bp-med) {
    float: right;
    margin-top: 0;
    margin-left: 1em;
    max-width: 50%;
  }
}

.alignleft {
  @include breakpoint($bp-med) {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    max-width: 50%;
  }
}
