//
//	The following styles are used to get the menus to
//	function properly. These should not be changed.
//	See further down this file for visual styles.
//-------------------------------------------------------

.mobile-head {
	background: $secondary-color;
}

// Hide desktop navigation
.site-header {
	display: none;
	
	@include breakpoint($bp-med) {
		display: block;
	}
}

// Mobile Header
.mobile-head {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 1em;
	overflow: hidden;
	z-index: 500;

	@include breakpoint($bp-med) {
		display: none;
	}

	.icon-menu {
		color: #fff;
	}

	.icon-menu {
		float: right;
	}
}


// Toggle effects/animation
#site-wrap {
	position: relative;
	overflow: hidden;
	width: 100%;
}


.mobile-nav {
	position: absolute;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	z-index: 9999;
	transition: transform 300ms;

	&.is-active {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
	}

	@include breakpoint($bp-med) {
		display: none;
	}
}

.mobile-main-nav {

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
		}
	}

	a {
		display: block;
	}
}



//
//	Styles - Begin Editing Here
//-------------------------------------------------------

.mobile-branding {
	display: inline-block;
	vertical-align: top;
	padding: .6em;
	transition: opacity 500ms;

	&:hover,
	&:focus {
		opacity: .75;
	}
}

.mobile-head {
	padding: 0;
	line-height: 1;
	background: #fff;
}

.mobile-nav {
	background: $bkg-blue;

	ul {
		@include list-reset;
	}

	li {
		margin: 0;
		text-align: center;

		&.menu-item-has-children {
			> a {
				&:after {
					display: inline-block;
					vertical-align: baseline;
					margin-left: .5em;
					width: 9px;
					height: 8px;
					background: transparent url('../img/global/icons/down-icon.png') center no-repeat;
					content: ' ';
					transition: transform 300ms;
				}

				&.is-active {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	p,
	h3,
	a {
		color: #fff;
	}

	a {
		padding: 1em;
		font-size: 1.0625em;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;
		transition: background 500ms;

		&:hover,
		&:focus {
			background: $button-color--dark;
			text-decoration: none;
		}
	}

	.sub-menu {
		display: none;
		background: $button-color--dark--hover;

		a {

		}
	}
}


// Nav

.icon-menu {
	display: inline-block;
	vertical-align: top;
	padding: 1.5em;
	background: $button-color;
	transition: background 500ms, color 500ms;

	&:hover,
	&:focus {
		background: $button-color--hover;
	}
}


.mobile-nav-controls {
	@include clearfix;

	.mobile-nav-branding,
	.mobile-nav-toggle {
		display: inline-block;
		vertical-align: top;
		font-size: 1em;
		line-height: 1;
	}

	.mobile-nav-branding {
		float: left;
	}

	.mobile-nav-toggle {
		float: right;
		padding: 1.5em;
		background: $button-color--dark;

		&:hover,
		&:focus {
			background: $button-color--dark--hover;
		}
	}
}
