
/**
 * Posts Pagination
 */

.pagination {
  margin-top: 2.5em;
  padding-top: 2.5em;
  border-top: 1px solid $border-color;
  text-align: center;

  ul {
    @include list-reset;
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0;

    + li {
      margin-left: 0.5em;
    }
  }
  
  .page-numbers {
    .page-numbers {
      display: block;
      padding: 0.5em 0.969em;
      border-radius: 3px;
      color: #fff;
      background-color: $button-color;
      transition: background-color 500ms;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $button-color--hover;
      }

      &.current,
      &.dots {
        color: $base-font-color;
        background-color: $border-color;
        cursor: default;
      }

      &.prev,
      &.next {
        padding: 0.5em 0.75em;
      }
    }
  }
}
