.parallax {
	position: relative;
	height: 18em;
	color: $primary-color;
	background-position: center;
	background-size: cover;

	@include breakpoint($bp-med) {
		height: 18em;
		background-attachment: fixed;
	}

	@include breakpoint($bp-large) {
		height: 24em;
	}

	@include breakpoint($bp-xl) {
		height: 28em;
	}
}

.overlay-wrap {
	position: relative;
	.wrap {
		position: relative;
		z-index: 20;
	}
}
.overlay {
	z-index: 10;
	position: absolute;
	width: 100%; height: 100%;
	background-size: cover;
	background: url(../img/global/overlay.png) repeat;
}