
.post-navigation-section {
  display: none;
  padding: 1.5em 0;
  border-bottom: 1px solid $border-color;

  @include breakpoint($bp-med) {
    display: block;
  }

  a {
    display: inline-block;
    vertical-align: baseline;
    font-size: .8125em;
    font-weight: 400;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.nav-links {
  position: relative;
}

.nav-previous,
.nav-next {
  @include breakpoint($bp-med) {
    position: absolute;
    top: 0;
  }
}

.nav-previous {
  @include breakpoint($bp-med) {
    left: 0;
  }

  a {
    padding-left: 1.5em;
    background: transparent url('../img/global/icons/stroke-arrow-left.png') center left no-repeat;
  }
}

.nav-next {
  @include breakpoint($bp-med) {
    right: 0;
  }

  a {
    padding-right: 1.5em;
    background: transparent url('../img/global/icons/stroke-arrow-right.png') center right no-repeat;
  }
}

.post-navigation-center {
  text-align: center;

  a {
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
