
.quote-block {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;

  blockquote {
    padding: 0;
    background: transparent;
    text-align: center;
  
    cite {
      display: block;
      position: relative;
      margin-top: 1em;
      padding-top: 1em;
      font-size: 1.3125em;
      font-weight: 700;
      font-style: normal;

      &:before {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -2.28125em;
        width: 4.5625em;
        height: 2px;
        // background: transparent url('../img/global/backgrounds/border-2.png') center repeat-x;
        content: ' ';
      }
    }

    .quotee-job-title {
      display: block;
      font-size: .65em;
      text-transform: uppercase;
    }
  }
}
