
.search-bar {
  @include font-size(17);
  line-height: 1;

  label {
    display: inline-block;
    vertical-align: top;
  }
  
  .search-field,
  .search-submit {
    font-size: inherit;
    line-height: inherit;
  }

  .search-field {}

  .search-submit {
    display: inline-block;
    vertical-align: top;
    padding: .65em;
    margin-left: .25em;

    &:hover,
    &:focus {
      // color: #fff;
    }

    svg {
      display: block;
      width: 17px;
      height: 17px;
    }
  }
}
