.slideshow-content {
	background: $secondary-color;
	background: rgba(0,0,0,0.6);
	color: white;
	h1,h4 {
		color: white;
	}
	h1 {
		color: lighten($secondary-color,40%);
		&:after {
			background: lighten($secondary-color,40%);
		}
	}
}