
.split-block-section {
  + .split-block-section {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 75em;
      height: 1px;
      background: $border-color;
      content: ' ';

      @include breakpoint( 75em ) {
        left: 50%;
        margin-left: -37.5em;
      }
    }
  }
}

.split-block {
  @include clearfix;
  margin-top: -2em;
  margin-left: -2em;

  @include breakpoint($bp-large) {
    margin-left: -2.5em;
  }

  .flexbox & {
    @include breakpoint($bp-med) {
      display: flex;
      align-items: center;
    }
  }

  .content,
  .image {
    padding-top: 2em;
    padding-left: 2em;

    @include breakpoint($bp-med) {
      float: left;
    }

    @include breakpoint($bp-large) {
      padding-left: 2.5em;
    }
  }

  .content {
    @include breakpoint($bp-med) {
      width: 65%;
    }
  }

  .image {
    @include breakpoint($bp-med) {
      width: 35%;
    }

    img {
      margin: 0 auto;
      display: block;
    }
  }

  &.split-block--right {
    .image {
      @include breakpoint($bp-med) {
        float: right;
      }
    }

    .flexbox & {
      @include breakpoint($bp-med) {
        flex-direction: row-reverse;
      }
    }
  }
}



// .split.innerpage {
// 	overflow: hidden;
// 	background: $secondary-color;
// 	color: $primary-color;
// 	h1,p {
// 		color: $primary-color;
// 	}
// 	h1 {
// 		&:after {
// 			background: none;
// 			content: "";
// 		}
// 	}
// 	.content,
// 	.image {
// 		@include breakpoint($bp-med) {
// 			width: 50%;
// 			float: left;
// 		}
// 	}
// 	.content .inner {
// 		padding: 5em 5em 5em 0;
// 		@include breakpoint($bp-med) {
// 			padding: 2em 2em 2em 0;
// 		}
// 		@include breakpoint($bp-large) {
// 			padding: 3em 3em 3em 0;
// 		}
// 		@include breakpoint($bp-xl) {
// 			padding: 7em 7em 7em 0;
// 		}
// 	}
// 	.image {
// 		padding-bottom: 5em;
// 		@include breakpoint($bp-med) {
// 			padding-bottom: 0;
// 		}
// 	}
// 	.image img {
// 		margin: 0;
// 	}
	
// }