
/**
 * Tablepress Plugin Styles
 */

.dataTables_filter.dataTables_filter {
  float: none;
  margin: 0 auto;
  margin-bottom: 1.5em;
  max-width: 14.875em;
}

.tablepress.tablepress {
  border-bottom: 1px solid $heading-color-1;

  th,
  td {
    color: $base-font-color;
  }

  tfoot,
  thead {
    th {
      background-color: transparent;
    }
  }
  thead {
    th {
      border-bottom: 2px solid $heading-color-1;
      font-size: 0.875em;
    }
  }

  .sorting:hover, 
  .sorting_asc, 
  .sorting_desc {
    background-color: transparent;
  }

  tbody td,
  tfoot th {
    border-top: 1px solid $heading-color-1;
  }

  .even td,
  .odd td {
    background-color: transparent;
  }

  .row-hover tr:hover td {
    background-color: transparent;
  }
}
