.sidebar {
	.tags.widget {
		
		ul {
			@include clearfix;
			border: 0;
			margin: 0;
		}
		li {
			border: 0;
			display: inline-block;
			margin: 0 0.25em 2em;
		}
		a {
			padding: 0.5em 0.75em;
			border-radius: $border-radius;
		}

	}//.tags.widget

	.tags a {
		transition: $transition-fast;
		background: $tertiary-color;
		color: $primary-color;
		&:hover {
			background: $secondary-color;
			color: $primary-color;
		}
	}

}//.sidebar