.three-col-full {
	@include clearfix;
	text-align: center;
	.col h2,
	.col p {
		color: $primary-color;
	}
	.col {
		padding: 3em;
		@include breakpoint($bp-med) {
			//padding: 4em;
			float: left;
			width: calc(100% / 3);
		}
		@include breakpoint($bp-large) {
			padding: 7.5em;
		}
		@include breakpoint($bp-xl) {
			padding: 10em;
		}
		&:first-child {
			background: $secondary-color;
		}
		&:nth-of-type(2) {
			background: lighten($secondary-color, 4%);
		}
		&:last-child {
			background: lighten($secondary-color,4.5%);
		}
	}

}//.three-col-full

