
.top-nav {
	text-align: right;
	padding-bottom: 2em;

	ul {
		display: inline-block;
		vertical-align: baseline;
		text-align: right;

		+ ul {
			margin-left: 1em;
		}
	}
}

.utility-nav {
	@include list-reset;
	
	li {
		+ li {
			margin-left: .5em;
			padding-left: .5em;
			border-left: 1px solid $border-color;
		}
	}

	a {
		@include font-size(14);
		color: $link-color;
		font-weight: 600;
		text-transform: uppercase;
		text-decoration: none;
		transition: $transition-fast;

		&:hover,
		&:focus {
			color: $link-color--hover;
		}
	}

	li.current_page_item a,
	li.current_page_parent a {
		color: $link-color--hover;
	}

	.sub-menu {
		display: none;
	}
}


.button-nav {
	@include list-reset;

  li {
    + li {
      margin-left: 1em;
    }
  }

	.sub-menu {
		display: none;
	}
}

