
@keyframes pulse {

  0% {
    transform: scale(0);
    opacity: 0;
  }

  8% {
    transform: scale(0);
    opacity: 0;
  }

  30% {
    transform: scale(.25);
    opacity: 1;
  }

  60% {
    transform: scale(.75);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
