
//
//	All type styles for the size should be here
//-------------------------------------------------------


//
// Base
//___________________________________________________

html {
	// base font settings
	color: $base-font-color;
	font-family: $base-font-family;
	line-height: 1.6;
	font-weight: 300;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {}


p {
	margin: 0;
	margin-bottom: 1em;
	font-size: .9375em;
}

address {
	font-style: normal;
}

ol,
ul {
	margin: 1em 0;
}

li {
	margin: 0;
	font-size: .9375em;

	+ li {
		margin-top: .25em;
	}
}



h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0;
	margin-bottom: 1em;
	font-family: $heading-font-family;
	font-weight: 500;
	line-height: 1.4;

	p + & {
		margin-top: 2em;
	}
}

h1, .h1 {
	@include font-size(32);
	font-weight: 300;

	@include breakpoint($bp-large) {
		@include font-size(40);
	}
}

h2, .h2 {
	@include font-size(28);
}

h3, .h3 {
	@include font-size(26);
	color: $heading-color-2;
}

h4, .h4 {
	@include font-size(16);
	text-transform: uppercase;
	color: $heading-color-2;
}

h5, .h5 {
	@include font-size(16);
}

h6, .h6 {
	@include font-size(18);
	color: $heading-color-2;
}



blockquote {
	margin: 1em 0;
	padding: 1em;

	p {
		@include font-size(21);
	}
	
	cite,
	.author {
		@include font-size(16);
	}
}

p.author {
	color: lighten($secondary-color, 40%);
}

a {
	color: $link-color;
	transition: color 500ms;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $link-color--hover;
		text-decoration: underline;
	}
}

.heading-group {
	position: relative;
  margin-bottom: 2em;
	padding-top: 1.5em;

	h1,
	.sub-title {
		margin: 0;
	}

	.sub-title {
		position: absolute;
		top: 0;
		left: 0;
	}
}


// Inputs

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
textarea {
	padding: .5em .75em;
	border: 2px solid $input-color;
	font-size: .9375em;
	background: #fff;
	appearance: none;
	transition: border-color 250ms;
	
	&:focus {
		border-color: darken($input-color, 15%);
		outline: 0 none;
	}
}
