//
//
// 		MASTER VARIABLES!!!!1
//
//___________________________________________________


//
// Typography
//___________________________________________________

$base-font-family: 'Montserrat', sans-serif;
$heading-font-family: 'Montserrat', sans-serif;



//
// Colors
//___________________________________________________


/**
 * Defaults
 */

$primary-color: #fff;
$secondary-color: #333;
$tertiary-color: #555;
$quaternary-color: #666;
$primary-color-opaque: rgba(255,255,255,0.8);
$red-dark: #B20000;



/**
 * Brand Colors
 */

$brand-off-white: #fbfbfb;
$brand-black: #363636;

$brand-grey--dark: #585858;
$brand-grey--dark-2: #676767;
$brand-grey--med: #858585;
$brand-grey--light: #e0e0e0;
$brand-grey--light-2: #eaeaea;

$brand-blue: #27a7df;
$brand-blue--light: #00adee;




/**
 * Typography Colors
 */

$base-font-color: $brand-grey--dark;

$heading-color-1: $brand-grey--med;
$heading-color-2: $brand-blue;
$heading-color-3: $brand-grey--dark-2;

$link-color: $brand-blue;
$link-color--hover: darken($link-color, 15%);

$input-color: $brand-grey--light;

$bullet-color: $brand-blue;

// Button Colors

$button-color: $brand-blue;
$button-color--hover: darken($button-color, 15%);


$button-color--dark: #1e93c6;
$button-color--dark--hover: #137faf;


/**
 * Block Colors
 */

$bkg-off-white: $brand-off-white;
$bkg-blue: $brand-blue;

$border-color: $brand-grey--light;
$border-color-alt: $brand-grey--light-2;


//
// Layout
//___________________________________________________

$max-width: 78.75em;
$max-width--small: 53.75em;

$max-width-spacing: 0 1em;
$max-width-spacing--large: 0 1.875em;

$padding: 2em;
$padding-medium: 2em;
$padding-large: 3.5em;

$vertical-padding: 2em 0;
$vertical-padding-medium: 2em 0;
$vertical-padding-large: 3.5em 0;

$horizontal-padding: 0 2em;
$horizontal-padding-medium: 0 2em;
$horizontal-padding-large: 0 2.5em;



//
// Design/Animation
//___________________________________________________


// default border radius
$border-radius: 3px;


// transitions
$transition: all 1s;
$transition-fast: all .5s;
$transition-faster: all .25s;
$transition-slow: all 2s;
$transition-slower: all 2.5s;
